.root{
    -fx-background-color:linear-gradient(from 10.5% 10.5% to 51.3% 97.6%,rgba(232,249,255,1),rgba(229,199,206,1),rgba(219,199,229,1));
}

.combo-box{
    -fx-background-color:none;
}

.combo-box:selected,.combo-box, .combo-box-popup .list-view ,.text-field{
    -fx-background-color:rgba(201,168,189,0.5);

}

.combo-box-popup .list-view ,.combo-box-popup .list-view .list-cell{
    -fx-background-color:rgba(201,168,189,255);
}

.text-field{
    -fx-prompt-text-fill: gray;
}

.button{
    -fx-padding: 10 20 10 20;
    -fx-background-color: rgb(31,31,31);
    -fx-background-radius: 50;
    -fx-text-fill: white;
}

.button:hover{
    -fx-background-color: rgb(38, 38, 38);
}


